/*VARIABLES START*/
/*VARIABLES END*/
/*RESET START*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  color: #3a5072;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 18.98px;
  font-weight: 400;
  background: url("../../images/temp/background.jpg") no-repeat center / cover;
  background-color: #fff;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffbf00;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
}
img {
  max-width: 100%;
}
input,
textarea,
button {
  outline: none;
  border: none;
}
textarea {
  resize: vertical;
}
button {
  cursor: pointer;
}
label {
  margin-bottom: 0;
}
/*RESET END*/
/*DEFAULT CLASSES START*/
.container {
  max-width: 1365px;
  margin: 0 auto;
}
.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.d-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.f-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.f-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.m-left-auto {
  margin-left: auto;
}
.m-right-auto {
  margin-left: auto;
}
/*DEFAULT CLASSES END*/
/*UI CITS START*/
.icon {
  display: inline-block;
  height: 39px;
  width: 39px;
  position: relative;
}
.icon:before {
  content: '';
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.icon.icon-reviews:before {
  background: url("../../images/icons/icon-reviews.png") no-repeat center;
}
.icon.icon-work:before {
  background: url("../../images/icons/icon-work.png") no-repeat center;
}
.icon.icon-login:before {
  background: url("../../images/icons/icon-login.png") no-repeat center;
}
.icon.icon-arrow-down:before {
  background: url("../../images/icons/icon-arrow-down.png") no-repeat center;
}
.icon.icon-goods:before {
  background: url("../../images/icons/icon-goods.png") no-repeat center;
}
.icon.icon-accaunt:before {
  background: url("../../images/icons/icon-accaunt.png") no-repeat center;
}
.icon.icon-pumping:before {
  background: url("../../images/icons/icon-pumping.png") no-repeat center;
}
.icon.icon-money:before {
  background: url("../../images/icons/icon-money.png") no-repeat center;
}
.icon.icon-news:before {
  background: url("../../images/icons/icon-news.png") no-repeat center;
}
.icon.icon-popular:before {
  background: url("../../images/icons/icon-popular.png") no-repeat center;
}
.icon.icon-things:before {
  background: url("../../images/icons/icon-things.png") no-repeat center;
}
.icon-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.soc-btn {
  display: inline-block;
  height: 39px;
  width: 39px;
  position: relative;
  cursor: pointer;
}
.soc-btn:before {
  content: '';
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.soc-btn.vk:before {
  background: url("../../images/icons/icon-vk.png");
}
.soc-btn.facebook:before {
  background: url("../../images/icons/icon-f.png");
}
.soc-btn.twitter:before {
  background: url("../../images/icons/icon-t.png");
}
.soc-btn.youtube:before {
  background: url("../../images/icons/icon-y.png");
}
.soc-btn-list span {
  margin-right: 15px;
}
.form-control {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 10px 15px;
}
.form-control.search {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  -webkit-box-shadow: inset 3px 3px 4px #7a1528;
          box-shadow: inset 3px 3px 4px #7a1528;
  padding-right: 35px;
}
.form-control.search::-webkit-input-placeholder {
  color: #fff;
}
.form-control.search::-moz-placeholder {
  color: #fff;
}
.form-control.search:-ms-input-placeholder {
  color: #fff;
}
.form-control.search::placeholder {
  color: #fff;
}
.btn {
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  background: transparent;
  border-color: transparent;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}
.btn.btn-default {
  color: #ffbf00;
  border: 2px solid #ffbf00;
  font-size: 13px;
  height: 37px;
}
.btn.btn-default:hover {
  color: #054c7a;
}
.btn.btn-primary {
  border-bottom: 3px solid #d45900;
  background-color: #ff7f00;
  color: #333333;
  position: relative;
}
.btn.btn-primary::before {
  position: absolute;
  content: '';
  background: url("../../images/temp/bg-btn-left.png");
  top: 50%;
  left: 0;
  -webkit-transform: rotateY(-50%);
          transform: rotateY(-50%);
}
.btn.btn-primary::after {
  position: absolute;
  content: '';
  background: url("../../images/temp/bg-btn-right.png");
  top: 50%;
  right: 0;
  -webkit-transform: rotateY(-50%);
          transform: rotateY(-50%);
}
.btn.btn-primary:hover {
  background-color: #054c7a;
  color: #fff;
}
.btn.btn-toggle {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 0;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  width: 100%;
}
.btn.btn-toggle .icon {
  height: 32px;
  width: 25px;
}
.toggle {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  right: -120%;
  top: 0;
}
.dropdown.active {
  display: block;
}
.dropdown-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  position: relative;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-top: 3px solid #ff7f00;
}
.dropdown-wrap::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  right: 0;
  height: 35px;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-top: 35px solid #fff;
}
.dropdown-wrap__block {
  width: 184px;
  margin-top: 6px;
}
.dropdown-wrap__block a {
  color: #054c7a;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding: 13px 20px 13px 5px;
  width: 100%;
  display: inline-block;
}
.dropdown-wrap__block li {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}
.dropdown-wrap__block li::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10px;
  right: 15px;
  top: 0;
  bottom: 0;
  background: url("../../images/icons/icon-list-inner.png") no-repeat center;
  opacity: 0;
}
.dropdown-wrap__block li + li a {
  border-top: 1px dashed #dcdfe4;
}
.dropdown-wrap__block li:hover {
  background-color: #ff7f00;
}
.dropdown-wrap__block li:hover::before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 10px;
  right: 15px;
  top: 0;
  bottom: 0;
  background-image: url("../../images/icons/icon-list-inner-hover.png");
  opacity: 1;
}
.dropdown-wrap__block li:hover a {
  color: #fff;
  text-decoration: none;
}
/*UI CITS END*/
/*DEFAULT COMPONENTS START*/
.header {
  background: url("../../images/temp/header-bg-center.png") no-repeat center / cover;
  position: relative;
  height: 183px;
  padding-left: 80px;
  padding-right: 115px;
}
.header::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -274px;
  top: 0;
  height: 550px;
  width: 275px;
  background: url("../../images/temp/header-bg-left.png") no-repeat center / cover;
}
.header::after {
  position: absolute;
  content: '';
  right: -163px;
  top: 0;
  height: 248px;
  width: 164px;
  display: inline-block;
  background: url("../../images/temp/header-bg-right.png") no-repeat center / cover;
}
.header__logo {
  color: #fff;
  width: 21%;
}
.header__logo:hover {
  text-decoration: none;
}
.header__img {
  margin-right: 7px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.header__content {
  letter-spacing: 0.7px;
}
.header__logo_title {
  font-weight: 700;
}
.header__logo_title span {
  color: #ffbf00;
}
.header__logo_title h1 {
  font-size: 42px;
  line-height: 41px;
}
.header__logo_subtitle {
  font-weight: 700;
  font-size: 17px;
}
.header__logo_text {
  font-size: 11px;
  line-height: 19px;
}
.header__center-nav {
  width: 50%;
  padding-top: 37px;
  padding-bottom: 30px;
}
.header__links {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  color: #fff;
  padding-bottom: 15px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}
.header__input {
  margin-top: 10px;
  position: relative;
}
.header__input::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  width: 20px;
  right: 10px;
  background: url("../../images/icons/icon-search.png") no-repeat center;
}
.header .icon-link {
  letter-spacing: 0.8px;
}
.header .icon-link + .icon-link {
  margin-left: 20px;
}
.header__right-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 20%;
  padding-top: 11px;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .auth-controls {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 6px;
  margin-bottom: 4px;
}
.header .auth-controls .icon-link {
  font-size: 13px;
}
.header__basket {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}
.header__basket .header__img {
  margin-right: 12px;
}
.header__basket .header__content {
  color: #fff;
  padding-top: 6px;
}
.header__control {
  width: 27%;
  color: #fff;
}
.header__toggle {
  background-color: #611f53;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 7px;
}
.header__toggle + .header__toggle {
  margin-top: 3px;
}
.header__toggle:hover {
  background-color: #912F7D;
}
.header .toggle ul {
  background-color: #611f53;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
}
.header .toggle ul li {
  height: 32px;
  width: 63px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}
.header .toggle ul li + li {
  border-top: 1px solid #000;
}
.header .toggle ul li:hover {
  background-color: #912F7D;
  cursor: pointer;
}
.nav {
  width: 100%;
  height: 68px;
  -webkit-box-shadow: -10px 3px 6px 0px #d2d9dd;
          box-shadow: -10px 3px 6px 0px #d2d9dd;
  position: relative;
}
.nav::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 169px;
  height: 159px;
  right: -31px;
  top: -31px;
  background: url("../../images/temp/bg-nav-right.png") no-repeat center;
}
.nav .nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.nav .nav-list > li {
  min-width: 120px;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.9px;
  padding: 0 10px;
}
.nav .nav-list > li::after {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -25px;
  display: inline-block;
  width: 15px;
  height: 19px;
  background: url("../../images/icons/icon-list-bracker.png");
}
.nav .nav-list > li::before {
  opacity: 0;
  z-index: -1;
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-transform: skew(-34deg);
      -ms-transform: skew(-34deg);
          transform: skew(-34deg);
}
.nav .nav-list > li:first-child::after,
.nav .nav-list > li:last-child::after {
  content: none;
}
.nav .nav-list > li:first-child {
  margin-top: -2px;
  width: 330px;
  color: #fff;
  background: url("../../images/temp/bg-li.png") no-repeat center / cover;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 50px;
  padding-right: 0;
}
.nav .nav-list > li:first-child::before {
  position: absolute;
  opacity: 1;
  z-index: 1;
  top: 0;
  left: -9%;
  content: '';
  display: inline-block;
  width: 99px;
  height: 99px;
  background: url("../../images/temp/bg-li-left.png") no-repeat center;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.nav .nav-list > li:nth-child(2) + li {
  margin-left: 40px;
}
.nav .nav-list > li + li {
  margin-left: 40px;
}
.nav .nav-list > li:nth-child(2) {
  margin-left: 0;
}
.nav .nav-list > li:hover {
  cursor: pointer;
}
.nav .nav-list > li:hover::before {
  opacity: 1;
  z-index: 0;
}
.nav .nav-list > li:hover .list-hover {
  display: block;
}
.nav .nav-list .icon {
  width: 45px;
  height: 50px;
}
.nav .nav-list .list-hover {
  display: none;
  position: absolute;
  top: 102%;
  left: -24px;
  z-index: 20;
}
.aside-bar {
  width: 264px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.aside-bar > ul {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 4px 5px 5px #d2d9dd;
          box-shadow: 0px 4px 5px 5px #d2d9dd;
}
.aside-bar > ul::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 100%;
  left: -5px;
  width: 275px;
  height: 55px;
  background: url("../../images/temp/bg-aside-bottom.png") no-repeat top left;
}
.aside-bar > ul > li {
  padding: 0 22px;
  letter-spacing: -0.5px;
  position: relative;
  color: #054c7a;
}
.aside-bar > ul > li:nth-child(even) {
  background-color: #f6f7f8;
}
.aside-bar > ul > li span {
  padding: 12px 10px;
  display: inline-block;
  width: 100%;
}
.aside-bar > ul > li:not(:last-child) span {
  border-bottom: 1px dashed #dcdfe4;
}
.aside-bar > ul > li::after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 13px;
  height: 11px;
  right: 9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../../images/icons/icon-list.png") no-repeat center;
}
.aside-bar > ul > li .list-hover {
  display: none;
  position: absolute;
  top: 0;
  right: -83%;
  z-index: 20;
}
.aside-bar > ul > li .dropdown-wrap {
  border-left: none;
  border-right: none;
}
.aside-bar > ul > li .dropdown-wrap::after {
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
}
.aside-bar > ul > li .dropdown-wrap__block {
  margin-top: 0;
  width: 220px;
}
.aside-bar > ul > li .dropdown-wrap__block li {
  height: 43px;
}
.aside-bar > ul > li .dropdown-wrap__block li::before {
  opacity: 1;
}
.aside-bar > ul > li .dropdown-wrap__block li:first-child {
  margin-top: -3px;
  border-left: 2px solid #ff7f00;
}
.aside-bar > ul > li:hover {
  background-color: #ff7f00;
  cursor: pointer;
}
.aside-bar > ul > li:hover span {
  color: #fff;
}
.aside-bar > ul > li:hover:after {
  background-image: url("../../images/icons/icon-list-right.png");
}
.aside-bar > ul > li:hover .list-hover {
  display: block;
  z-index: 20;
}
.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/*DEFAULT COMPONENTS END*/
/*PAGES*/
.main-wrap {
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.layout {
  width: -webkit-calc( 100% - 264px );
  width: calc( 100% - 264px );
  margin-left: 15px;
  margin-top: 15px;
}
.layout__banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.layout__slider_wrap {
  margin-right: 15px;
  width: -webkit-calc( 100% - 260px );
  width: calc( 100% - 260px );
  position: relative;
}
.layout .slide {
  background: url("../../images/temp/slider-image.jpg") no-repeat center / cover;
  min-height: 320px;
  padding: 37px 38px;
  color: #fff;
}
.layout__slider_title {
  font-size: 38px;
  line-height: 40px;
  letter-spacing: 1.6px;
}
.layout__slider_subtitle {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.7px;
  color: #ffbf00;
}
.layout__slider_text {
  margin-top: 15px;
  width: 60%;
}
.layout__slider_link {
  margin-top: 15px;
}
.layout__aside {
  width: 260px;
  margin-left: 15px;
}
.layout .slick-next,
.layout .slick-prev,
.layout .slick-dots {
  display: none!important;
}
.layout .slider-next,
.layout .slider-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
.layout .slider-next::before,
.layout .slider-prev::before {
  content: '';
  display: inline-block;
  left: 0;
  top: 0;
  width: 31px;
  height: 48px;
}
.layout .slider-prev {
  left: -5px;
}
.layout .slider-prev::before {
  background: url("../../images/icons/icon-slider-arrow-left.png");
}
.layout .slider-next {
  right: -5px;
}
.layout .slider-next::before {
  background: url("../../images/icons/icon-slider-arrow-right.png");
}
.layout__slider_dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 6px solid rgba(0, 0, 0, 0.2);
}
.layout__slider_dots__title {
  font-size: 13px;
  color: #ffbf00;
}
.layout__slider_dots__text {
  color: #fff;
}
.layout__slider_dots .dot {
  width: 25%;
  padding: 12px 40px 13px 42px;
}
.main {
  width: 100%;
}
